div.formSection{
    display: flex;
    overflow: hidden;
    aside{
        width: 30%;
        height: 90vh;
        background-image: url('../html/img3.png');
        background-size: cover;
    }

    svg{
        width: 30px;
        fill: var(--foreground-Color);
        transition: fill 0.3s ease;
    }

    main{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 20px auto;
        font-size: 1em;

        div.title{
            width: 100%;
            font-size: clamp(0.7em,1.1vw,1em);
            div{
                display: flex;
                align-items: center;
                svg{
                    margin-left: 1em;
                    max-width: 2em;
                }
                width: 80%;
            }
            small{
                font-weight: lighter;
            }
            margin: 1em 0;
        }

        form{
            div{
                display: flex;
                width: 100%;
                position: relative;
                margin: 1.5em 0;

                input::-ms-reveal,
                input::-ms-clear {
                  display: none;
                }

                input,textarea{
                    width: 100%;
                    background-color: transparent;
                    border: 3px solid var(--secondary-Color);
                    outline: none;
                    padding: 1.5em;
                    border-radius: 1em;
                    color: var(--foreground-Color);
                    transition: box-shadow 0.5s ease;
                    resize: vertical;
                    min-height: 4em;

                    &:focus + label,
                    &:valid + label{
                        font-size: 0.8em;
                        transform: translateY(-1.7em);
                    }

                    &:hover,
                    &:focus{
                        box-shadow: 0 0 10px 10px rgba($color: #00F, $alpha: 0.1);
                    }

                    &::-webkit-resizer{
                        background-image: url(../html/resize.svg);
                        background-size: cover;
                        margin: 1em;
                        width: auto;

                    }

                    &[name=message]{
                        border-radius: 1em 1em 1em 0;
                    }
                }

                label{
                    position: absolute;
                    z-index: 10;
                    color: var(--foreground-Color);
                    top: 1em;
                    margin-right: 2em;
                    transition: color 0.3s ease , transform 0.5s ease,font-size 0.3s ease;
                    pointer-events: none;

                    &::before{
                        content: '';
                        background-color: var(--background-Color);
                        width: 100%;
                        padding: 0.5em 1em;
                        height: 10px;
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50% ,-50%);
                        transition: background-color 0.3s ease;
                        z-index: -1;
                    }
                }

                span{
                    display: none;
                    position:absolute;
                    left: 5%;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }

                &.row{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    @media screen and (max-width:425px) {
                        flex-direction: column;
                        div,a{
                            width: 80% !important;
                        }
                    }
                    div.rememberMe{
                        display: flex;
                        width: 50%;
                        label{
                            width: 60%;
                            &::before{
                                display: none;
                            }
                        }

                        input{
                            appearance: none;
                            margin-right: auto;
                            width: 2em;
                            height: 2em;
                            position: relative;
                            transition: background-color 0.3s ease;
                            cursor: pointer;

                            &::after{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                font-size: 1.5em;
                                content: '✓';
                                color: var(--secondary-Color);
                                transition: color 0.5s ease , font-size 0.5s ease;
                            }

                            &:checked{
                                background-color: var(--primary-Color);
                                &::after{
                                    font-size: 2em;
                                    color: white;
                                }
                            }
                        }
                    }
        
                    a{
                        width: 50%;
                        text-decoration: none;
                        text-align: center;
                        color: var(--foreground-Color);
                        transition: color 0.5s ease-in-out;
                        &:hover{
                            color: var(--primary-Color);
                        }
                    }
                }
            }
            div.submit{
                display: grid;
                position: relative;
                place-items: center;
                width: 100%;
                overflow: hidden;

                input[type=submit]{
                    border: none;
                    outline: none;
                    background-color: var(--primary-Color);
                    color: white;
                    width: 100%;
                    padding: 1em;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.5s ease;

                    &:hover + i , &:focus + i{
                        transform: scale(1);
                    }
                }

                i{
                    position: absolute;
                    width: 100%;
                    height: 35em;
                    pointer-events: none;
                    border-radius: 50%;
                    background-color: rgba(0,0,0,0.2);
                    z-index: 20;
                    transition: transform 0.5s ease;
                    transform: scale(0);
                }
            }
        }
        div.goLogin{
            margin-top: 2em;
            a{
                color: var(--primary-Color);
            }
        }

    }
    
}

@media screen and (max-width:560px){
    div.formSection{
        display: flex;
        overflow: hidden;
        aside{
            display: none;
        }
        main{
            width: 80%;
        }
    }
}